*{
	/*CSS Reset
		resets the premade margins & padding by browser. this way, it is better to manipualte the elements using 
		o margings & paddings

		Default calculations for the dimensions of the element (w/o box-sizing): 
			border + pading+ margin + content(height/width)

		w/ box-sizing - determines how the dimensions of the element will be calculated. The border & padding 
			will be included in the computation of height & width
	*/
	margin 0;
	padding 0;

	box-sizing: border-box;
}

#div1{
	/* 
		margin is the space outside the border
		padding is the space in between the content & the border
	*/
	/* margin: 50px; */
	padding: 20px;  
	border: 2px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;
	vertical-align: text-top;
}

#div2{
	/*top-bottom & left-rt */
	/*margin: 25px 100px; */
	/*top, left-rt & bottom*/
	/*margin: 10pz 70px 50px; */
	/* top rt bottom & left
		margin: 100px 10px 15px 50px; */
	/* margin in a specific side 
		margin-top: 10px*/


	border: 2px solid black;
	padding: 20px;
	background-color: red;
	height: 100px;
	width: 100px;
	display: inline-block;
		/* the contents of the element will be aligned to the top of the box */
	vertical-align: text-top;

}

#span1{
	/* the absence of padding will cause the element to be measured from the topmost and leftmost portion of the 
		box */
	display: inline-block;
	border: 2px solid black;
	background-color: green;
	height: 100px;
	width: 100px;
}

#span2{
	display: inline-block;
	border: 2px solid black;
	background-color: blue;
	height: 100px;
	width: 100px;

	/*
	padding: 20px;
	vertical-align: text-top;*/
}



