*{
	/*CSS Reset*/
	margin 0;
	padding 0;
	box-sizing: border-box;
	/*setting font family*/
	font-family: "Open Sans" sans-serif;
}

/*navbar */
nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid black;
}

nav > ul{
	list-style-type: none;
}


/* multiple selector; used to select multiple selectors w/ diff type/class/id */
/* nav #nav-logo, nav .nav{ -- longer version */

/*the devs have the freedom to separate the brand logo fr its navbar to highlight the brand itself or to 
include it w/ the navbar to save space */
nav li{	

	margin: .5rem;
	display: inline;
	/* sets the vertical alignment to the middle  */
	vertical-align: middle;
}

/*intro section*/
#intro{
	/* using % in margin or padding will use n% of the screen size as its margin or padding */
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro > h2, #intro > p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	/* font-weight - changes the thickness of the txt element */
	font-weight: bold;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

/*info section*/
#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info > h2{
	margin-bottom: 1rem;
}

#info > .card{
	border: 1px solid black;
	display: inline-block;
	/* using % for width will consume n% of the user screen size */
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	/* aligns the .card elements at the top of their line */
	vertical-align: top;
	/* min-height - sets the minimum height for the content if it doesn't reach the target height */
	min-height: 150px;
}

#info h3{
	margin-bottom: 1rem;
}

/* footer */
footer{
	padding: .8rem;
	/* text-align: center; */
}

footer span{
	margin-left: .5rem;
	margin-right: .5rem;
}